{% extends "template.html" %} {% block content %}

<body>
	<div class="container">
		<h1>Enter your credentials:</h1>
		<form method="POST" action="{{url_for("auth")}}">
			<p>
				<label>User:</label>
				<input class="form-control" type="text" name="user" required />
			</p>
			<p>
				<label>Password:</label>
				<input class="form-control" type="password" name="password" required />
			</p>
			<p><button class="btn btn-primary" type="submit">Enter</button></p>
		</form>
	</div>
</body>

{% endblock %}
